body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  text-align: center;
}
.App {
  display: grid;
  grid-template-rows: 10% 90%;
  align-items: center;
  justify-items: center;
  width: 375px;
  height: 670px;
  background: rgb(105, 214, 127);
  background: linear-gradient(
    0deg,
    rgba(105, 214, 127, 1) 0%,
    rgba(120, 239, 190, 1) 100%
  );
}
.roznama {
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: 16px;
  width: 95%;
  height: 95%;
  display: grid;
  grid-template-rows: 60% 40%;
  box-shadow: 0 0 10px #043f4b5c;
}
.date-container {
  display: grid;
  grid-template-rows: auto auto auto;
  padding: 30px 0;
}
.date {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
}
.line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 90%;
  background-color: rgb(0, 0, 0);
}
.my-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.my-text {
  color: #043f4b;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}
.timing {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-items: center;
}
.mini-card {
  width: 90%;
  height: 90%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 10px #043f4b5c;
}
.mini-card .name,
.mini-card .time {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mini-card .name {
  background-color: #043f4b;
  color: white;
  border-radius: 16px;
}
.mini-card .time {
  color: #043f4b;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 415px) {
  .App {
    width: 100%;
    height: 100vh;
  }
}
@media screen and (min-width: 416px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
